body {
    color: #ffffff;
    
}

.bg-image-full {
    background-image: url('../assets/images/band.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-content {
    z-index: 1;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #c70039;
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0.2rem 0;
}

.stylish-text {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg, #ff6ec4, #7873f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.time-unit {
    display: flex;
    align-items: baseline;
}

.time-unit h1, h4 {
    margin-right: 0.5rem;
}

.section-container {
    position: relative;
}

.title-row {
    position: relative;
}

.title-row::before {
    content: '';
    position: absolute;
    top: -20px; /* Adjust this value based on your design */
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(45deg, #ff6ec4, #7873f5);
}

.section-title {
    margin-top: 20px; /* Adjust margin to avoid overlap with the line */
}

.section-title2 {
    margin-top: 10px; /* Adjust margin if needed */
}

.schedule-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.schedule-day {
    background-color: #ececec;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.schedule-details .card {
    border: none;
}

.schedule-details .list-group-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.schedule-details .list-group-item i {
    margin-right: 10px;
    color: #7873f5;
}

.fs-3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.text {
    margin-bottom: 5px;
}

.col h1 {
    margin-top: 20px;
}

.col p {
    margin-top: 10px;
}

.img-thumbnail {
    max-width: 100%;
    height: auto;
}

.btn-buy {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-buy:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.btn-buy:active {
    background-color: #003f7f;
    transform: translateY(0);
}

.btn-buy:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.footer {
    background-color: #1f1f1f;
    padding: 1rem 0;
}

